@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header*/

header {
    background-color: #121212;
    height: 50px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 2px solid #38B6FF;
    width: 100vw;

}

header ul li{
    list-style: none;
    color: white;
    display: inline;
    padding-right: 2em;
}


a {
    text-decoration: none;
    color: white;
}


/* Name */

.name-container {
    background-color: #121212;    
    padding-left: 30px;
    justify-content: space-around;
    padding-top: 50px;
    height: 50vh;
    display: flex;
}


h1 {
    color: #38B6FF ;
    font-size: 75px;
    padding-top: 25px;

}

h2 {
    color: white;
    padding-left: 5px;
}

p {
    color: white;
    padding-left: 5px;

}

.estilo-p {
    position:static;
    color: #38B6FF;
}

.estilo-imagem{
    height: 40vh;
    display: flex;    
}


.botaocv {
    background-color: #38B6FF;
    border-width: 0;
    border-radius: 30px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bolder;
    font-size: 16px;
}

.degrade {
    height: 10vh;
    background-image: linear-gradient(to bottom, #121212, #092230);
}

/* About*/

.about-container {
    background-color: #092230;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.estilosobre h2 {
    color: #38B6FF;
    flex-direction: row;
    align-items: flex-start;
    font-size: 48px;
}

