@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 48px;
}

h1, h2, h3 {
    margin: 0;
}

/* Header*/

header {
    background-color: #121212;
    height: 50px;
    padding-left: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 2px solid #38B6FF;
    width: 100vw;

}

header ul li{
    list-style: none;
    color: white;
    display: inline;
    padding-right: 2em;
}


a {
    text-decoration: none;
    color: white;
}


/* Name */

.name-container {
    background-color: #121212;    
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-around;
    padding-top: 50px;
    height: 50vh;
    display: flex;

}


h1 {
    color: #38B6FF ;
    font-size: 75px;
    padding-top: 25px;

}

h2 {
    color: white;
    padding-left: 5px;
}

p {
    color: white;
    padding-left: 5px;

}

.estilo-p {
    position:static;
    color: #38B6FF;
}

.estilo-imagem{
    height: 40vh;
    display: flex;  


}

.botaocv {
    background-color: #38B6FF;
    border-width: 0;
    border-radius: 30px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bolder;
    font-size: 16px;
    flex: 0 1 auto;
    max-width: 100%;
    max-height: 100%;
}

.degrade {
    height: 10vh;
    background-image: linear-gradient(to bottom, #121212, #092230);
}

/* About*/

.about-container {
    background-color: #092230;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center ;
    padding-left: 120px;
    padding-right: 120px;
}

.estilosobre h2 {
    color: #38B6FF;
    flex-direction: row;
    align-items: flex-start;
    font-size: 48px;
}

/* Hard Skills*/

.degrade2 {
    height: 10vh;
    background-image: linear-gradient(to top, #121212, #092230);
}

.hardskills {
    background-color: #121212;
    align-items: center;
    justify-content: center;
}

.hardskills h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #38B6FF;
    font-size: 48px;
}

.estilo-hard-skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    /* overflow-x: auto; */
}


.estilo-hard-skills i {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.estilo-hard-skills i p {
    color: #38B6FF;
    font-weight: 400;
    padding-top: 20px;
    font-style: normal;
}

#js {
    border-radius: 10px;
}


#logo-html {
    padding-right: 20px;
}

/* Soft Skills*/

.soft-skills {
    background-color: #121212;
    padding-bottom: 50px;
}

.soft-skills h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #38B6FF;
    font-size: 48px;
}

.soft-skills-imagens {
    display: flex;
    height: 20rem;
    gap: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.soft-skills-imagens > div {
    display: flex;
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    justify-content: center;
}

.soft-skills-imagens > div:hover {
    flex: 5;
}

.soft-skills p {
    display: flex;
    color: #38B6FF;
    align-items: end;
    margin-bottom: -70px;
    font-size: 15px;
    text-align: center;
    font-size: 25px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.soft-skills p:hover{
    opacity: 1;
}

/* Projects */

.degrade3 {
    height: 22vh;
    background-image: linear-gradient(to bottom, #121212, #38b6ff);
}

div h2 {
    text-align: center;
    color: #121212;
    padding-bottom: 100px;
}

.projects {
    background-color: #38b6ff;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}



.div-title {
    background-color: #38B6FF;
}

.projects img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.style-projects p {
    color: #121212;
    font-size: 18px;
}

.style-projects {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}


.projects-text {
    flex-direction: column;
    padding-left: 20px;
}

.projects-button {
    display: flex;
}